header{
    background-color:var(--blanco);
    filter: drop-shadow(0px 2.5px 2.5px var(--gris));
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logoHeader{
    filter:drop-shadow(2.5px 2.5px .25em var(--negro));
    transition: all .25s ease-in-out;
    margin:0 12px;
}
.logoHeader:hover{
    filter:drop-shadow(2.5px 2.5px .35em var(--negro));
}

@media screen and (max-width:768px){
    header{
        position: relative;
        justify-content: space-between;
        z-index: 1000;
    }
}