.sesion{
    width:20%;
    display:flex;
    justify-content: end;
    align-items: center;
    margin: 0 12px;
    .anchor-sesion{
        padding: 0 .5em;
        &:hover{
            color: var(--eosa);
        }
    }
}
.profile-sesion{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:8px;
    gap: 8px;
    .profile-sesion-cart-user{
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .profile-sesion-user{
            display: flex;
            width: 100%;
            flex-direction: column;
            font-size: 1.2em;
            text-align: center;
            span{
                color: var(--negro);
            }
        }
        .profile-sesion-cart{
            font-size: 24px;
            position: relative;
            span{
                position: absolute;
                padding: 4px 8px;
                top:0;
            }
        }
        .linkCarrito{
            display: flex;
            justify-content: center;
            align-items: center;
            .textoCarrito{
                padding: 0 4px;
                span{
                    display: flex;
                    margin: 4px 8px;
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .sesion{
        width:100%;
        justify-content: center;
        flex-direction: column;
        gap:12px;
    }
    .profile-sesion{
        .profile-sesion-cart-user{
            display: flex;
            flex-direction: column;
            text-align: center;
            .linkCarrito{
                flex-direction: column;
                gap:12px;
            }
        }
    }
    .dashboardLogoutButton{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
