.sesion{
    width:20%;
    display:flex;
    flex-direction: column;
    gap: 8px;
    justify-content: end;
    align-items: center;
    margin: 0 12px;
    .anchor-sesion{
        padding: 0 .5em;
        &:hover{
            color: var(--rosa);
        }
    }
}
.profile-sesion{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .profile-sesion-cart-user{
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .profile-sesion-cart{
            font-size: 24px;
            position: relative;
            span{
                position: absolute;
                padding: 4px 8px;
                top:0;
            }
        }
        .linkCarrito{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:8px;
        }
    }
    .dashboardLogoutButton{
        width: auto;
        gap:12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:768px){
    .sesion{
        width:100%;
        justify-content: center;
        flex-direction: column;
        gap:12px;
    }
    .profile-sesion{
        flex-direction: column;
        gap: 0;
        .profile-sesion-cart-user{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    }
    .dashboardLogoutButton{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
