.card{
    margin:8px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width:400px;
    max-width:600px;
    height: 200px;
    flex-grow: 1;
    background-color: var(--blanco);
    box-shadow: 2.5px 2.5px 10px 0px var(--negro);
    .card-top{
        display: flex;
        width: 100%;
        overflow: hidden;
        justify-content: space-between;
        .img-descuento{
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            .img-box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 200px;
                background-position: center;
                background-size: cover;
                .img-descuento-ribbon{
                    position: absolute;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    width: 100px;
                    top:15px;
                    right:-25px;
                    background-color: var(--verdeAmarillento);
                    transform: rotateZ(45deg);
                    box-shadow: 0px 0px 8px 1px var(--gris);
                }
            }
        }
        .card-top_brand-name{
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            h3{font-weight: 700;}
            h4{margin:0;}
        }
    }
}

.card-description{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    .description{
        margin: 24px 0;
        font-size: 18px;
        width: 75%;
        text-align: center;
    }
    .category{
        text-decoration: dotted;
        text-transform: uppercase;
        font-style: italic;
        font-size: 16px;
        color:var(--marron);
        margin-bottom:24px;
        &:hover{color:var(--gris)}
    }
}
.card-price{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed var(--gris);
    border-radius: 16px;
}
.card-price-precio{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card-price-precio p{
    margin: 8px 4px;
}
/*si*/
.card-price-precio .precio-tachado{
    text-decoration: line-through;
    color: var(--gris);
}

.card-price-precio .precio-descuento{
    font-size: 1.5em;
}
.card-buy-true{
    display:flex;
    width: 100%;
    justify-content: space-around;
}
.card-buy-true p{
    color:var(--negro);
}
.card-buy-true button{
    border:none;
    background-color: var(--blanco);
    box-shadow: 1px 1px 5px 0px var(--negro);
    border-radius: 4px;
    width:100%;
    margin:4px 0;
    padding: 4px 6px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.card-buy-true button:hover{
    background-color: var(--blanco);
    box-shadow: 1px 1px 5px 1px var(--negro);
}
.card-buy-false p{
    color:red;
}

@media screen and (max-width:768px){
    .card{
        padding: 4px 8px;
        width:275px;
        max-width:400px;
        height: 150px;
        .card-top{
            .img-descuento{
                .img-box{
                    background-size: contain;
                    max-width: 150px;
                }
            }
            .card-top_brand-name{
                width: 50%;
                h3{font-size: 18px;}
                h4{font-size: 14px;}
                .card-price-precio{
                    width: 100%;
                    p{
                        font-size: clamp(1rem, 2.5vw, 2rem);
                    }
                }
            }
        }
    }
}