.nosotrosContainer{
    background: linear-gradient(45deg, var(--rosa),var(--blanco));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    .nosotrosTitulo{
        width: 100%;
        text-align: center;
        padding: 12px 0;
        font-size: clamp(2rem, 3vw, 6rem);
    }
    .boxNosotros{
        background-color: var(--blanco);
        border-radius: 12px;
        width: 75%;
        margin: 12px 0;
        padding: 12px 8px;
        box-shadow: 0 0 5px 1px var(--gris);
        h3{
            color: var(--gris);
            font-size: clamp(1.25rem, 2.5vw, 4rem);
            font-weight: 700;
        }
        p{
            color: var(--gris);
            font-size: clamp(1rem, 2.25vw, 2rem);
            padding: 8px 16px;
            span{
                display: flex;
                padding: 8px 0;
            }
        }
    }
}