:root {
  --marron: #a07f68;
  --naranja: #fba69f;
  --verde: #d2c28e;
  --verdeAmarillento:#F1F8C2;
  --amarillo: #ffebce;
  --rosa: #fdcacd;
  --blanco: #f5f5f5;
  --negro: #101010;
  --gris: #555555;
};
/*

ELEGIR 3

60% - BLANCO
30% - ROSA
10% - VERDEAMARILLENTO

*/